
[property]
model-color-format=0
model-engine-file=checkpoints/ds_trt_{engine_name}.engine
labelfile-path=detector.labels
## 0=FP16, 1=INT8, 2=FP16 mode
network-mode=0
num-detected-classes=80
interval=0
gie-unique-id=1
batch-size=16
is-classifier=0
parse-bbox-func-name={parse_func_name}
custom-lib-path=build/libds_trt_tsc_bridge.so
# is-classifier=1

[class-attrs-all]
roi-top-offset=0
roi-bottom-offset=0
detected-min-w=0
detected-min-h=0
detected-max-w=0
detected-max-h=0
